body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(83, 20, 20) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#GrossAmount{
  color: yellow;
}
#carousal{
  max-height: 34rem;
}
#category{
  display: flex;
}
.arrow{
  cursor: pointer;
}
.down{
  transform: rotate(180deg); 
}
@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
#navbar{
  background-color: rgb(121, 54, 54);
}
#navbar-example2{
  display: flex;
  justify-content: space-around;
  background-color : rgb(100, 37, 37);
  z-index: 7;
}
 #toggle{
    margin-top: 8rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.nav-link{
  color: rgb(255, 255, 255,0.65)!important;
}
.nav-link:hover{
  color: rgb(255, 255, 255)!important;
}
.nav-link:active{
  color: rgb(255, 255, 255)!important;
}

#flexSwitchCheckDefault{
  height: 30px;
  width: 70px;
}
#labelswitch{
  margin-left: 20px;
  font-size: x-large;
}
#navbarNav{
  margin-left: 10px;
}
.navbar-btn{
  align-items: center !important;
    display: flex !important
}
/* tr:nth-child(even) {background-color: #9a1c1c;} */
/* tr:nth-child(odd) {background-color: #400c0c;} */
